In [14]:
print('id:',1)
print('First Name:','Prashant')
print('Last Name:','Raj')

id: 1
First Name: Prashant
Last Name: Raj

In [15]:
if 100>99 and \
     200<=300 and \
     True!=False:
     print('hello world')

hello world

In [16]:
x=5
y=10
xy="Hello"
print(x+y,xy)

15 Hello

In [17]:
x=y=1
print(x,y)

1 1

In [24]:
#addtion
a=1+3
print(a)

#substraction
b=15-4
print(b)

#Multiplication

c=a*b
print(c)

#DIVISION

d=c/2

print(d)

#modulo
e=15%10
print(e)


#floore divison 
f=2.8//2.0
print(f)

4
11
44
22.0
5
1.0

In [31]:
string1="World"
print("Hello",string1)

string2="!!!!..."
print("Hello",string1,string2)

print("Hello %s" % string1)

print("Actual number %d" %18)
print("Float number %f" %18)

Hello World
Hello World !!!!...
Hello World
Actual number 18
Float number 18.000000

In [38]:
#DATA TYPE

#int Type
x=20
y="Hello"
type(x)
print(type(y))
type(y)

#j=("I","Thanks","me")
#type(j)

<class 'str'>

str

In [40]:
#string Type
Y="hello"
print(type(y))

<class 'str'>

In [43]:
#complex Type
z=1j
print(type(z))

<class 'complex'>

In [44]:
#list
i=["I","Love","Myself"]
print(type(i))

<class 'list'>

In [45]:
#tupple

k=("I","Love","everyone")
print(type(k))

<class 'tuple'>

In [47]:
#Range
x=range(10)
print(type(x))

<class 'range'>

In [49]:
#Dictonary

x={"name":"Prashant","age":29}
print(type(x))

<class 'dict'>

In [50]:
#set Value
x={"I","am","Student"}
print(type(x))

<class 'set'>

In [53]:
#forzeonSet Type
x=frozenset({"England","wales","scotland","ireland"})
print(x)
#print(type(x))

frozenset({'England', 'ireland', 'wales', 'scotland'})

In [54]:
#bool Type

x=True
print(type(x))

<class 'bool'>

In [61]:
#byte Type

x=b"hello"
print(x)
print(type(x))

b'hello'
<class 'bytes'>

In [60]:
#bytearray
x=bytearray(3)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00')
<class 'bytearray'>

In [59]:
#MemoryView

x=memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x7fb0f7a81ae0>
<class 'memoryview'>

In [62]:
#operator

x=15
y=10
if x>y:
  print("X is grater than y")

X is grater than y

In [63]:
#if ifelse

x=10
y=10
if x>y:
    print("X is grater than Y")
elif x==y:
    print("X is equal to Y")

X is equal to Y

In [64]:
#if Else 

x=50
y=20
if y>x:
  print("Y is grater than x")
elif x==y:
  print("X is Y is Equal")
else:
  print("X is Grater than Y")

X is Grater than Y

In [65]:
#using if and OR

a=50
b=20
c=40
if a>b and c>b:
  print("Both condition are true")

Both condition are true

In [66]:
#nested If else

a=60


if x>10:
    print("Above ten")
    if x>20:
      print("Above than 20")
    else:
      print("all true")

Above ten
Above than 20

In [68]:
#while Loop
i=1
while i<6:
  print(i)
  i=i+1

1
2
3
4
5

In [77]:
#break Statement

z=1

while z < 6:
  print(z)
  if z==3:
    break
  z +=1

1
2
3

In [84]:
#for loop

car=["BMW","AUDI","HONDA","TATA"]
for x in car:
  print(x)

BMW
AUDI
HONDA
TATA

In [86]:
#for loop throw string

for x in "PRASHANT":
    print(x)

P
R
A
S
H
A
N
T

In [111]:
#using Break loop

Car=["BMW","AUDI","HONDA","TATA"]
for x in car:
  print(x)
  if x=="HONDA":
    break

BMW
AUDI
HONDA

In [91]:
#range Function

for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [92]:
# range 

for x in range(4,15):
  print(x)

4
5
6
7
8
9
10
11
12
13
14

In [94]:
#Create function 

def My_function():
  print("This is my function")

In [95]:
My_function();

This is my function

In [96]:
def My_function(carmodel):
  print("BMW",carmodel)

My_function("005")
My_function("006")
My_function("007")

BMW 005
BMW 006
BMW 007

In [116]:
#argument

def My_function(c="tesla"):
  print("My favorite car is "+ c)

My_function("BMW")
My_function("TATA")



def my_fun(newcar):
  for x in newcar:
    print(x)

New=["BMW","TESLA","TATA"]

my_fun(New)



def fun(x):
  return 5*x

print(fun(10))
print(fun(100))

My favorite car is BMW
My favorite car is TATA
BMW
TESLA
TATA
50
500